{% extends 'base.html.twig' %}

{% block title %}Login | Fit Town{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/styles/login.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="main-container">
        <div class="container-left">
        </div>
        <div class="container-right">
            <img src="{{ asset('./assets/images/logo.png')}}" alt="logo" class="logo">
<form method="post">
    {% if error %}
        <div class="alert alert-danger" style="color: white">Mot de passe ou email incorrect</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">

        </div>
    {% endif %}
    <div class="form-container">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <h2>Veuillez vous connecter</h2>
    <div class="container-input">
    <label for="inputEmail"></label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
    <label for="inputPassword"></label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Mot de passe">
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="container-button">
    <button class="btn btn-lg btn-primary" type="submit">
        Login
    </button>

    </div>
    </div>

</form>
        </div>
    </div>
{% endblock %}
