@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #111111;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.wrapper-input {

    width: 500px;
    padding-top: 100px;
}

.wrapper-input input {
    background: #242424;
    border: none;
    border-radius: 40px;
    width: 90%;
    height: 70px;
    margin: 0 0 20px;
}

input[type] {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: #8D8D8D;
    padding-left: 27px;
}


input[type]:focus {
    outline: none;
}

.wrapper-input .add-button {
    float: none;
    border: none;
    margin: 0;
}

.wrapper-edit {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.wrapper-edit a {
    color: #5A5858;
    font-size: 20px;
    font-weight: bold;
    display:block;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.wrapper-edit button {
    background: none;
    border: none;
    cursor: pointer;
    color: #5A5858;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.main h1 {
    line-height: normal;
}

.wrapper-edit a:hover {
    color: #b0b0b0;
}

.wrapper-edit button:hover {
    color: #b0b0b0;
}

@media only screen and (max-width: 530px) {
    .wrapper-input {
        width: 100%;
        padding-top: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


}

@media only screen and (max-width: 530px) {
    .add-button:first-child {
        display: none;
    }

    .add-button:last-child {
        display: flex;
    }


}

@media only screen and (max-width: 383px) {
    .wrapper-input {

        padding-top: 20px;

    }


}

@media only screen and (max-width: 285px) {
    .main h1 {
        font-size: 16vw;
    }

    .main h2 {
        font-size: 7vw;
    }

    input[type] {
        font-size: 8vw;
    }

    .wrapper-input input {
        border-radius: 22px;
    }



}

@media only screen and (max-width: 226px) {
    .ham {
        position: absolute;

    }

    .hamMenu {
        margin-right: -20px;
    }

}


@media only screen and (max-width: 220px) {
    .add-button {
        width: auto;
    }

}

@media only screen and (max-width: 179px) {
    .add-button {
        width: auto;
    }

    .ham {
        position: relative;
    }

    .hamMenu {
        float: left;
        margin: 0;
    }
}