@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 17px;
}


.annonce {
    background: #F7F8D5;
    transition: 0.5s ease;

}

.annonce:hover {
    background: #b0b0b0;
}

.annonce:last-child {
    background: #F8DCDC;
    transition: 0.5s ease;
}


.annonce:hover {
    background: #b0b0b0;
}


.annonce td {
    display: block;
    width: 450px;
text-align: center;
}

tr.annonce {
    border-radius: 40px;
    margin: 0px 30px 20px 2px;
    height: 250px;
    cursor: pointer;
}

.annonce #h3 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #5A5858;
    padding: 20px;
}

.annonce #name {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.annonce td {
    color: #5A5858;
    font-size: 20px;
    font-weight: bold;
}

/----------------------/

.wrapper-switch {
    width: 100%;
    display: flex;
    justify-content: center;
}

.switch {
    display: inline-flex;
    margin: 0 10px;
}
.switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
.switch input[type=checkbox]:checked + label {
    background: #000000;
}
.switch input[type=checkbox]:checked + label::after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
}
.switch label {
    cursor: pointer;
    width: 48px;
    height: 24px;
    background: grey;
    display: block;
    border-radius: 24px;
    position: relative;
}
.switch label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 16px;
    transition: 0.3s;
}