@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #111111;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 17px;
}


.annonce {
    background: #242424;
    transition: 0.5s ease;

}

.annonce:hover {
    background: #b0b0b0;
}

.annonce:last-child {
    background: #242424;
}



.annonce:hover {
    background: #b0b0b0;
}


.annonce td {
    display: block;
text-align: center;
}

tr.annonce {
    border-radius: 40px;
    margin: 0px 30px 20px 2px;
    width: 430px;
    height: 310px;
    cursor: pointer;
}

.annonce #h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #5A5858;
    margin-top: 60px;
    padding: 0px;
}

.wrapper-sort h3 {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 60px;
    padding: 0px;
}

.wrapper-sort btn {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 60px;
    padding: 0px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.wrapper-sort btn:hover {
    color: #b0b0b0;
}

.annonce #name {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.annonce td {
    color: #B6B6B6;
    font-size: 20px;
    font-weight: bold;
}

.wrapper-flex {
    display: flex;
    float: right;
    align-items: center;
}

.add-button {
    float: none;
}

/----------------------/

.wrapper-switch {
    width: 100%;
    display: flex;
    justify-content: center;
}

.switch {
    display: inline-flex;
    margin: 0 10px;
}
.switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
.switch input[type=checkbox]:checked + label {
    background: #000000;
}
.switch input[type=checkbox]:checked + label::after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
}
.switch label {
    cursor: pointer;
    width: 48px;
    height: 24px;
    background: grey;
    display: block;
    border-radius: 24px;
    position: relative;
}
.switch label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 16px;
    transition: 0.3s;
}

@media only screen and (max-width: 980px) {
tr.annonce:first-child {
    margin: 0px 0px 20px 0px;
}

    tbody {
        gap: 30px;
    }
}

@media only screen and (max-width: 888px) {
    tr.annonce:first-child {
         margin: 0px;
    }

    tr.annonce {
        margin: 0px;
    }


}

@media only screen and (max-width: 856px) {
    .add-button {
        display: none;
    }

    .wrapper-flex {
        margin-top: 50px;
    }


}

@media only screen and (max-width: 521px) {



}

@media only screen and (max-width: 474px) {
    tr.annonce {
        width: 100%;
    }


}

@media only screen and (max-width: 474px) {
    .wrapper-flex {
        float: initial;
    }


}

@media only screen and (max-width: 313px) {
    .main h1 {
        font-size: 15vw;
    }

    .main h2 {
        font-size: 7vw;
    }

    .annonce td {
        display: flex;
        flex-direction: column;
    }


}

@media only screen and (max-width: 257px) {
    .annonce td {
        font-size: 7vw;
    }


}

@media only screen and (max-width: 227px) {
    #search {
        width: 100%;
    }


}